.flex {
    display: flex;
    flex-wrap: wrap;
}

body {
    width: 100%;
    height: 800px;
    background-color: lightblue;
}

.wrap {
    height: 100%;
    justify-content: center;
    align-items: center;
}

.form {
    flex-direction: column;
    align-items: left;
    width: 1000px;
    background-color: white;
    margin-top: 2vh;
    padding: 2vh
}

    .form__title {
        font-size: 4.5vh;
    }

    .form__add {
        margin-top: 10px;
    }

        .inputvalue {
            width: 65%
        }

    .form__main {
        margin-top: 30px;
    }

.textarea {
    width: 65%;
    min-height: 300px;
}
