@import "./settings";


section.intro {
    background: url(/img/section_intro/intro_bg.png);
    background-repeat: no-repeat;
    height: 800px;
    max-width: 1920px;
    header.header.disp-flex {
        justify-content: space-between;
      div.header__logo {

      }
  
      nav.header__nav {
        ul.nav-list {
          li.nav-list__item {
            a {
  
            }
          }
        }
      }
  
      div.header__none {
  
      }
    }
  
    div.main-intro {
      div.main-intro__title {
  
      }
  
      div.main-intro__under-title {
  
      }
  
      button.main-intro__button.button-transparent {
  
      }
  
      div.blue-transparent-block {
  
      }
    }
  }